.css-1n3h4wo {
  height: auto !important;
}
.section {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.button_text {
  color: white;
}
.Tab:active {
  color: #fdc236 !important;
}
