.css-1n3h4wo {
    height: auto !important;
}
.section {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.imageSettings {
    
}
.imageSettings {
    border-radius: 0 !important;
}
.swal2-confirm {
    background-color: var(--main-color) !important;
}