.onGoing-H6 h6 {
  color: #ff8a00;
}
.ongoingContainer {
  min-height: 300px;
}

.endJobButton {
  width: 120px;
  background-color: var(--main-color);
  color: white;
}

.timeLineContainer ul {
  width: 100%;
}

.ReviewArea .RatingArea {
  resize: none;
}
