.Material-contact-section {
  .form-image-side {
    margin-top: 5rem;
    .form-image {
      width: 100%;
    }
  }
  .adress-wrapper {
    background: #182c61;
    color: white;
  }
}

.page-footer {
  background: #182c61;
  color: white;
  hr {
    background: white;
  }
}

.form-header {
  .section-title {
    font-weight: 800;
  }
}
