:root {
  --main-color: #ff8a00;
}
.JobsPage-container {
  min-height: 300px;
}
.JobsPage-container input {
  margin-bottom: 0;
}

.JobsPage-container h5 {
  font-family: "Neue Montreal", "Helvetica Neue", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.JobsPage-container .icon {
  color: rgb(255, 255, 255);
  background-color: var(--main-color);
}
.JobsPage-container .icon:hover {
  background-color: rgb(255, 255, 255);
  color: var(--main-color);
  cursor: pointer;
}
.JobsPage-container h5 {
  /* color: rgba(0, 0, 0, 0.589); */
}
.JobsPage-container h5:hover {
  color: var(--main-color);
  /* text-decoration: underline; */
  cursor: pointer;
}

.JobsPage-container .searchBar .btn {
  color: white;
  background-color: var(--main-color);
}

.jobKeyWords .jobKeyWord {
  color: var(--main-color);
  background-color: rgba(0, 0, 0, 0.05);
}
.JobsPage-container .Proposals p {
  color: rgba(0, 0, 0, 0.7);
}

.JobsPage-container .Proposals span {
  color: black;
}
.JobsPage-container .jobInfoLine span {
  color: rgba(0, 0, 0, 0.7);
}
.JobsPage-container .jobsSection {
  border-bottom-width: 0.5px;
}
/* pagination active button */
.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: var(--main-color) !important;
  color: white;
}
.JobsPage-container a {
  color: rgba(0, 0, 0, 0.9);
  margin: 0 !important;
}
.page-item.active .page-link {
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
}
@media (max-width: 992px) {
  .JobsPage-container {
    max-width: 90% !important;
  }
}
@media (max-width: 768px) {
  .JobsPage-container {
    max-width: 95% !important;
    margin-top: 20px;
  }
  .JobsPage-container .fa-xl {
    font-size: 1rem !important;
    margin-left: 10px !important;
  }
}
@media (max-width: 576px) {
  .JobsPage-container .jobsSection {
    padding: 0.5rem;
  }
  .JobsPage-container .fa-xl {
    font-size: 0.8rem !important;
    margin-left: 5px !important;
  }
  .JobsPage-container h5 {
    font-size: 1rem !important;
  }
  .pagination {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
}

.page-link:focus {
  box-shadow: none !important;
}
